.topmar5{
    margin-top: 5%;
    border-bottom: solid 3px;
    border-bottom-color: #bbb;
}

.enterIngredients {
    padding: 1%;

}

body{
    background-image: url("https://github.com/ethanzander/WUTZ4DINNA/blob/master/images/whitey/whitey.png?raw=true")
}
.container{
    background-color: rgb(162,181,203);
}
.u-pull-right {
  float: right; 
}
.u-pull-left {
  float: left;
}
#login-input{
    visibility: visible;
}

.fridge{
    width: 80%;
    z-index: 66;
    margin-left: 15%;
}

.fridgeDoor{
    width: 44%;
    z-index: 67;
    position: relative;
    top: -334px;
    left: 74px;
    margin-left: 15%;
}

.fruit{
    width: 133%;
    position: relative;
    top: 9px;
    left: -53px;
}

h1{
  font-family: 'Playfair Display', serif;
  color: linen;
}

.topHeader{
  background-color: rgb(238,52,36);
}

h1,
h2,
h3,
h4,
h5,
h6{
  text-align: center;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}

#btn-logout{
    visibility: hidden;
}
#btn-login{
    visibility: visible;
}
#btn-sign-up{
    visibility: visible;
}
#your-email{
    visibility: visible;
}
#your-password{
    visibility: visible;
}

.image {
    width: 200px;
    margin-left: 5%;   
    margin-top: 2%; 
}

.recipename{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    float: right;
    margin-bottom: 1%;
}

.form {
    position: relative;
    left: 250px;
    top: -80px;
    padding: 0%;
    margin-bottom: 1%;
}

.recipeDisplay{
    border-bottom: solid 2px;
    border-color: #bbb;
    padding: 1%;

}

.link{
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}